<launch>
  <arg name="data_path" value="$(find cepton_ros)/tests/multi"/>

  <!-- Launch demo -->
  <include file="$(find cepton_ros)/launch/demo.launch">
    <arg name="capture_path" value="$(arg data_path)/lidar.pcap"/>
    <arg name="rviz_config_path" value="$(arg data_path)/config.rviz"/>
  </include>
</launch>
