<launch>
  <arg name="rviz_config_path" default="$(find cepton_ros)/config/demo_indoor.rviz" doc="rviz config file path"/>

  <!-- Launch identity transform -->
  <include file="$(find cepton_ros)/launch/identity_transform.launch">
    <arg name="frame_id" value="cepton"/>
    <arg name="parent_frame_id" value="world"/>
  </include>

  <!-- launch rviz -->
  <node pkg="rviz" type="rviz" name="cepton_rviz" required="true" args="-d $(arg rviz_config_path)"/>
</launch>
