<launch>
  <arg name="capture_path" default="" doc="capture file path"/>
  <arg name="output_namespace" default="cepton" doc="prefix for names"/>
  <arg name="output_scanlines" default="false" doc="if true, outputs scanlines, otherwise, output frames"/>
  <arg name="parent_frame_id" default="world" doc="parent transform frame"/>

  <!-- Launch driver -->
  <include file="$(find cepton_ros)/launch/driver.launch">
    <arg name="capture_path" value="$(arg capture_path)"/>
    <arg name="combine_sensors" value="true"/>
    <arg name="output_namespace" value="$(arg output_namespace)"/>
    <arg name="output_scanlines" value="$(arg output_scanlines)"/>
  </include>
</launch>
