<launch>
    <arg name="name_prefix" default="cepton" />
    <arg name="combine_sensors" default="false" />

    <arg name="manager" default="$(arg name_prefix)_manager" />
    <arg name="driver" default="$(arg name_prefix)_driver" />

    <!-- start nodelet manager -->
    <node pkg="nodelet" type="nodelet" name="$(arg manager)" args="manager" output="screen" />

    <!-- start driver -->
    <node pkg="nodelet" type="nodelet" name="$(arg driver)" args="load cepton/DriverNodelet $(arg manager)" output="screen">
        <param name="name_prefix" value="$(arg name_prefix)" />
        <param name="combine_sensors" value="$(arg combine_sensors)" />
    </node>

</launch>
