<launch>
    <arg name="name_prefix" default="cepton" doc="prefix for names" />
    <arg name="parent_frame_id" default="world" doc="parent_transform frame" />
    <arg name="transforms_path" doc="transforms json file path" />

    <!-- Launch driver -->
    <include file="$(find cepton)/launch/driver.launch">
        <arg name="name_prefix" value="$(arg name_prefix)" />
    </include>

    <!-- Launch transform publisher -->
    <include file="$(find cepton)/launch/transforms.launch">
        <arg name="parent_frame_id" value="$(arg parent_frame_id)" />
        <arg name="transforms_path" value="$(arg transforms_path)" />
    </include>
</launch>
