<launch>
  <arg name="capture_path" default="" doc="capture file path"/>
  <arg name="combine_sensors" default="false" doc="if true, single topic and transform frame, otherwise one per sensor"/>
  <arg name="control_flags" default="0" doc="sdk control flags"/>
  <arg name="n_frames_per_message" default="2" doc="number of sensor frames per message"/>
  <arg name="output_namespace" default="cepton" doc="prefix for names"/>

  <!-- launch nodelet manager -->
  <arg name="manager_node_name" value="$(anon cepton_manager)"/>
  <node pkg="nodelet" type="nodelet" name="$(arg manager_node_name)" args="manager" output="screen"/>

  <!-- launch driver -->
  <arg name="driver_node_name" value="$(anon cepton_driver)"/>
  <node pkg="nodelet" type="nodelet" name="$(arg driver_node_name)" args="load cepton_ros/DriverNodelet $(arg manager_node_name)" output="screen">
    <param name="capture_path" value="$(arg capture_path)"/>
    <param name="combine_sensors" value="$(arg combine_sensors)"/>
    <param name="control_flags" value="$(arg control_flags)"/>
    <param name="n_frames_per_message" value="$(arg n_frames_per_message)"/>
    <param name="output_namespace" value="$(arg output_namespace)"/>
  </node>
</launch>
