<launch>
    <arg name="namespace" default="cepton" doc="prefix for names"/>
    <arg name="output_scanlines" default="false" doc="if true, outputs scanlines, otherwise, output frames"/>
    <arg name="parent_frame_id" default="world" doc="parent transform frame"/>

    <!-- Launch driver -->
    <include file="$(find cepton_ros)/launch/driver.launch">
        <arg name="combine_sensors" value="true"/>
        <arg name="namespace" value="$(arg namespace)"/>
        <arg name="output_scanlines" value="$(arg output_scanlines)"/>
    </include>

    <!-- Launch transform publisher -->
    <arg name="frame_id" value="$(arg namespace)"/>
    <node pkg="tf" type="static_transform_publisher" name="cepton_transform" args="0 0 0 0 0 0 $(arg parent_frame_id) $(arg frame_id) 100"/>
</launch>
